/* CSS file */
@namespace s 			"library://ns.adobe.com/flex/spark";
@namespace mx 			"library://ns.adobe.com/flex/mx";
@namespace timeline		"com.ithaca.timeline.*"; 

timeline|Timeline
{
	skin-class	: ClassReference("com.ithaca.timeline.skins.TimelineSkin");	 
}

timeline|TraceLineGroup
{
	skin-class : ClassReference("com.ithaca.timeline.skins.TraceLineGroupSkin");
	fillColors : #FFA6A8, #C6FFC9, #AED7FF, #FAFFB7, #FFDFB0, #E1B7F9 ;
	headerHeight : 15;
	bottom 		 : 1;
	bgColor		:#FFA6A8;
}

timeline|TraceLineGroupTitle
{
	skin-class : ClassReference("com.ithaca.timeline.skins.TraceLineGroupTitleSkin");
	bgColor		:#FFA6A8;
}

timeline|TraceLineGroup.comments
{
	headerHeight : 1;
}

timeline|TraceLineGroupTitle.comments
{
	skin-class : ClassReference("com.ithaca.timeline.skins.TraceLineGroupTitleCommentsSkin");
	icon 		: Embed("images/CommentAddVer1.png");	
	bgColor		:#FFA6A8;
}

timeline|TraceLine.comments
{
	rendererHeight : 45;
	rendererGap	   : 0;
	skin-class: ClassReference("com.ithaca.timeline.skins.TraceLineSkin");	
}

timeline|TraceLine
{
	borderVisible  : false;
	rendererHeight : 25;
	rendererGap	   : 0;
	skin-class: ClassReference("com.ithaca.timeline.skins.TraceLineSkin");
}


timeline|TraceLine.background
{
	skin-class: ClassReference("com.ithaca.timeline.skins.TraceLineBackgroundSkin");
}

timeline|TraceLineTitle
{
	skin-class: ClassReference("com.ithaca.timeline.skins.TraceLineTitleSkin");
}

timeline|ZoomContext
{
	skin-class			: ClassReference("com.ithaca.timeline.skins.ZoomContextSkin");
	backgroundColor 	: #F5F5F5;
	allowZoom			: true;
	allowCut			: false;
}

timeline|ObselSkin
{
	skin-class		: ClassReference("com.ithaca.timeline.skins.IconSkin");
	icon 			: Embed("images/obsel.png");
}

timeline|ObselSkin.Comment
{
	skin-class: ClassReference("com.ithaca.timeline.skins.CommentSkin");	
	icon :Embed("images/CommentVer4.png");
}

timeline|ObselSkin.Marker
{
	skin-class	: ClassReference("com.ithaca.timeline.skins.MarkerSkin");	
	icon 		: Embed("images/marqueurBlanc-bas-20px.png");
	tooltip: '$(this/props/text)';
}

timeline|ObselSkin.Durative
{
	skin-class: ClassReference("com.ithaca.timeline.skins.DurativeSkin");
    backgroundColor : #aaaaff;
	tooltip: "Duratif: ${this/props/text}";
}

timeline|ObselSkin.Message
{
	tooltip: "Message: ${this/props/content}";
    icon: "images/message.png";
}

timeline|ObselSkin.Document
{
	tooltip: "Document ${this/props/url}";
    icon: "${this/props/url}";
}
