/* CSS file */
@namespace s 			"library://ns.adobe.com/flex/spark";
@namespace mx 			"library://ns.adobe.com/flex/mx";
@namespace timeline		"com.ithaca.timeline.*"; 


timeline|Divider
{
	skin-class: ClassReference("com.ithaca.timeline.skins.DividerDefaultSkin");
}

timeline|Timeline
{
	skin-class: ClassReference("com.ithaca.timeline.skins.TimelineSkin");
}

timeline|TraceLineGroup
{
	skin-class: ClassReference("com.ithaca.timeline.skins.TraceLineGroupSkin");
}

timeline|TraceLine
{
	skin-class: ClassReference("com.ithaca.timeline.skins.TraceLineSkin");
}

timeline|ZoomContext
{
	skin-class: ClassReference("com.ithaca.timeline.skins.ZoomContextSkin");
}

