/* CSS file */
@namespace s 			"library://ns.adobe.com/flex/spark";
@namespace mx 			"library://ns.adobe.com/flex/mx";
@namespace timeline		"com.ithaca.timeline.*"; 

timeline|Timeline
{
	skin-class: ClassReference("com.ithaca.timeline.skins.TimelineSkin");
}

timeline|TraceLineGroup
{
	skin-class : ClassReference("com.ithaca.timeline.skins.TraceLineGroupSkin");
	fillColors : #FFA6A8, #C6FFC9, #AED7FF, #FAFFB7, #FFDFB0, #E1B7F9 ;
	headerHeight : 50;
	bottom 		 : 5;
}

timeline|TraceLineGroupTitle
{
	skin-class : ClassReference("com.ithaca.timeline.skins.TraceLineGroupTitleSkin");
}

timeline|TraceLine
{
	rendererHeight : 30;
	rendererGap	   : 2;
	skin-class: ClassReference("com.ithaca.timeline.skins.TraceLineSkin");
}

timeline|TraceLine#background
{
	rendererHeight : 30;
	skin-class: ClassReference("com.ithaca.timeline.skins.TraceLineSkin");
}

timeline|TraceLineTitle
{
	skin-class: ClassReference("com.ithaca.timeline.skins.TraceLineTitleSkin");
}

timeline|ZoomContext
{
	skin-class			: ClassReference("com.ithaca.timeline.skins.ZoomContextSkin");
	backgroundColor 	: #F5F5F5;
}

timeline|ObselSkin.Message
{
	skin-class		: ClassReference("com.ithaca.timeline.skins.IconSkin");
	icon 			: Embed("images/chatMessageVisu1.png");	
}

timeline|TraceLine.viewMsgText timeline|ObselSkin.Message
{
	skin-class		: ClassReference("com.ithaca.timeline.skins.IconTextSkin");
	icon 			: Embed("images/chatMessageVisu1.png");	
	backgroundColor 	: #FFFFB3;
}

timeline|ObselSkin.Message mx|Label
{
	fontSize : 11;
}

timeline|ObselSkin.Document
{
	skin-class: ClassReference("com.ithaca.timeline.skins.IconSkin");
	icon : Embed("images/fichierVisu1.png");
	toolTip : "Document :  {obsel.props.text} "
}

timeline|ObselSkin.Instructions
{
	skin-class: ClassReference("com.ithaca.timeline.skins.IconSkin");
	icon :Embed("images/consigneVisu1.png");
}

timeline|ObselSkin.Keyword
{
	skin-class: ClassReference("com.ithaca.timeline.skins.IconSkin");
	icon : Embed("images/motCleVisu1.png");
}

timeline|ObselSkin.Activity
{
	skin-class: ClassReference("com.ithaca.timeline.skins.DurativeSkin");	
	backgroundColors : #F4FA29, #3355F7, #D134E2, #1CFD81 ;
}

timeline|TimeRuler
{
	minLabelsGap 		: 100;
	maxLabelsGap	 	: 30;
	minMarksGap	 		: 4;
	maxMarksGap	 		: 20;
	minorMarkHeight		: 5;
	majorMarkHeight		: 12;
	limitMarkHeight		: 17;
	validIntervals 		: 1, 10, 100, 1000, 10000, 	60000, 300000, 600000, 3600000 ;
	majorIntervals 		: 5, 50, 500, 5000, 60000, 300000, 1200000, 3600000, 18000000 ;
	labelsIntervals 	: 5, 50, 500, 5000, 60000, 300000, 1200000, 3600000, 18000000 ;
	backgroundColor 	: #F5F5F5;
}