/* CSS file */
@namespace s 			"library://ns.adobe.com/flex/spark";
@namespace mx 			"library://ns.adobe.com/flex/mx";
@namespace timeline		"com.ithaca.timeline.*"; 

timeline|Timeline
{
	skin-class: ClassReference("com.ithaca.timeline.skins.TimelineSkin");
}

timeline|TraceLineGroup
{
	skin-class : ClassReference("com.ithaca.timeline.skins.TraceLineGroupVisu2Skin");
	fillColors : #FFA6A8, #C6FFC9, #AED7FF, #FAFFB7, #FFDFB0, #E1B7F9 ;
	headerHeight : 5;
	bottom 		 : 5;
	bgColor		:#FFA6A8;
}

timeline|TraceLineGroupTitle
{
	skin-class : ClassReference("com.ithaca.timeline.skins.TraceLineGroupTitleVisu2Skin");
	bgColor		:#FFA6A8;
}

timeline|TraceLineGroupTitle.Comments
{
	skin-class : ClassReference("com.ithaca.timeline.skins.TraceLineGroupTitleCommentsVisu2Skin");
	icon 		: Embed("images/CommentAddVer1.png");	
	bgColor		:#FFA6A8;
}

timeline|TraceLine.Comments
{
	rendererHeight : 30;
	rendererGap	   : 2;
	skin-class: ClassReference("com.ithaca.timeline.skins.TraceLineVisu2Skin");
}

timeline|TraceLine
{
	rendererHeight : 25;
	rendererGap	   : 2;
	skin-class: ClassReference("com.ithaca.timeline.skins.TraceLineVisu2Skin");
}


timeline|TraceLine.background
{
	skin-class: ClassReference("com.ithaca.timeline.skins.TraceLineBackgroundSkin");
}

timeline|TraceLineTitle
{
	skin-class: ClassReference("com.ithaca.timeline.skins.TraceLineTitleVisu2Skin");
}

timeline|ZoomContext
{
	skin-class			: ClassReference("com.ithaca.timeline.skins.ZoomContextSkin2");
	backgroundColor 	: #F5F5F5;
}

timeline|ObselSkin
{
	skin-class		: ClassReference("com.ithaca.timeline.skins.IconSkin");
	icon 			: Embed("images/iconInfo_16x16.png");	
}

timeline|ObselSkin.Message
{
	skin-class		: ClassReference("com.ithaca.timeline.skins.IconSkin");
	icon 			: Embed("images/chatMessageVisu1.png");	
}

timeline|TraceLine.viewMsgText timeline|ObselSkin.Message
{
	skin-class		: ClassReference("com.ithaca.timeline.skins.IconTextSkin");
	icon 			: Embed("images/chatMessageVisu1.png");	
	backgroundColor 	: #FFFFB3;
}

timeline|ObselSkin.Message mx|Label
{
	fontSize : 11;
}

timeline|ObselSkin.Document
{
	skin-class: ClassReference("com.ithaca.timeline.skins.IconSkin");
	icon : Embed("images/fichierVisu1.png");
	toolTip : "Document :  {obsel.props.text} "
}

timeline|ObselSkin.Instructions
{
	skin-class: ClassReference("com.ithaca.timeline.skins.IconSkin");
	icon :Embed("images/consigneVisu1.png");
}

timeline|ObselSkin.Keyword
{
	skin-class: ClassReference("com.ithaca.timeline.skins.IconSkin");
	icon : Embed("images/motCleVisu1.png");
}

timeline|ObselSkin.Activity
{
	skin-class: ClassReference("com.ithaca.timeline.skins.DurativeSkin");	
	backgroundColors : #F4FA29, #3355F7, #D134E2, #1CFD81 ;
}

timeline|ObselSkin.Comment
{
	skin-class: ClassReference("com.ithaca.timeline.skins.CommentSkin");	
	icon :Embed("images/CommentVer4.png");
}
